extends layout

block content
	h2= title
	
	if( admin )
		div.admin.controls.btn-group
			a.btn(href=process.env.BASE_URL + '/elections/admin' ) Administer elections
			a.btn(href=process.env.BASE_URL + '/election/new' ) Create election
	
	if( elections.length == 0 )
		p There are no elections currently open. Please check back later.
	else
		p Here are all elections.
		ul
			each election in elections
				li
					h5
						a(href=process.env.BASE_URL + '/election/' + election.id + '/vote')=election.name