extends layout

block content
	h1= title
	p Here are all current elections.
	ul
		each election in elections
			li
				h5
					a(href=process.env.BASE_URL + '/election/' + election.id + '/vote') candidate.name