extends layout

block content
	if( true )
		p Welcome to the Spring 2013 election cycle. To vote, please click 
			a.login(href=process.env.BASE_URL + '/elections') login
			| .
		p#login
			a.btn.btn-large(href=process.env.BASE_URL + '/elections') Login
	else
		p Elections will begin April 8.