doctype 5
html
	head
		title= 'Student Government Elections'
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		link(rel='icon', href='http://www.nyu.edu/common/images/favicon.ico', type='image/x-icon')
		
		block scripts
			script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
			script(src='/lib/underscore.js')
			script(src='/lib/backbone.js')
			script(src='/scripts/layout.js')
			script(src='/scripts/ballot.js')
	body
		div#header
			h1 NYU Online Voting System
			
		block content
		
		block footer