body {
  font: 14px Helvetica, serif;
  background: #fff;
}
#header {
  background: #57068c;
  padding: 10px;
}
#header h1 {
  background: url("../images/nyu-logo-white.png") no-repeat left top;
  padding-left: 90px;
  line-height: 85px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 200%;
  color: #fff;
}
h2 {
  background: #57068c;
  color: #fff;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  clear: both;
  margin-bottom: 0;
}
p {
  display: block;
  font-size: 200%;
  margin: 30px;
  color: #222;
}
p#login {
  text-align: center;
a
}
form.ballot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form.ballot ul li {
  margin: 0;
  padding: 0;
}
form.ballot ul li.candidate {
  float: left;
  margin: 30px;
  color: #fff;
  position: relative;
}
form.ballot ul li.candidate.selected label {
  background: #542793;
}
form.ballot ul li.candidate.selected label em {
  display: block;
}
form.ballot ul li.candidate input {
  display: none;
}
form.ballot ul li.candidate label,
form.ballot ul li.candidate p.bio {
  width: 210px;
  background: #808080;
}
form.ballot ul li.candidate label {
  height: 141px;
  margin: 0;
  position: relative;
}
form.ballot ul li.candidate label em {
  display: none;
  width: 32px;
  height: 32px;
  background: #808080 url("../images/check.gif");
  position: absolute;
  top: 0px;
  left: 0px;
}
form.ballot ul li.candidate label strong {
  position: absolute;
  left: 110px;
  top: 50%;
  margin-top: -1.5em;
  float: left;
  display: block;
  width: 100px;
  font-size: 180%;
  line-height: 1em;
}
form.ballot ul li.candidate label img {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 100px;
}
form.ballot ul li.candidate button {
  position: absolute;
  top: 0px;
  right: 0px;
}
form.ballot ul li.candidate p.bio {
  display: none;
  font-size: 80%;
  margin: 0;
  width: 190px;
  padding: 10px;
  color: #fff;
}
form.ballot ul li.candidate.noconfidence label strong {
  left: 5px;
  width: 200px;
  text-align: center;
  font-size: 240%;
}
li.clear {
  clear: both;
}
h2#vote {
  padding: 10px;
}
h2#vote input,
h2#vote a {
  margin-right: 10px;
  font-weight: normal;
}
h2#vote span {
  font-size: 100%;
  background: #542793;
  border: 2px solid #fff;
  padding: 5px;
  height: 1.5em;
  color: #fff;
  margin-right: 30px;
}
#admin input {
  margin: 30px;
  font-size: 200%;
  width: 300px;
  height: 1.5em;
  line-height: 1.5em;
  padding: 10px;
}
#results,
#results ul,
#results li {
  list-style: none;
}
#results li.race canvas {
  margin-left: 40px;
  float: right;
}
#results li.race ul {
  float: left;
}
#results li.race ul li.candidate {
  clear: both;
  float: left;
  line-height: 2em;
}
#results li.race ul li.candidate strong {
  float: left;
}
#results li.race ul li.candidate em.swatch {
  float: left;
  display: block;
  width: 2em;
  height: 2em;
  border: 1px solid #fff;
}
