$background = #FFFFFF
$font-color = #222222

@font-face {  
  font-family: "Gotham Black";  
  src: url( '../fonts/Gotham-Black.otf') format("opentype");  
}

@font-face {  
  font-family: "Gotham Bold";  
  src: url( '../fonts/Gotham-Bold.otf') format("opentype");  
}

@font-face {  
  font-family: "Gotham Book";  
  src: url( '../fonts/Gotham-Book.otf') format("opentype");  
}

body
	font: 14px Gotham Book, serif
	background: $background

#header
	height: 150px
	background: #000
	
	span
		height: 150px
		display: block
		float: left
		
	.left, .right
		background: url('../images/header-repeat.png') repeat-x top right
		width: 300px
	
	.right
		background-position: top left

	.center
		width: 600px
		background: url('../images/header-left.png') no-repeat top left
	
	h1
		background: url('../images/header-right.png') no-repeat top right
		height: 150px
		margin: 0
		padding: 0 100px
		font-size: 100%
		text-transform: uppercase
		font-family: Gotham Black
		
		strong.student, strong.government, em.page
			display: block
			line-height: 1em
			text-align: center
		
		strong.student
			font-size: 63px
			color: #fbcf0c

		strong.government
			font-size: 40px
			color: #fbcf0c
	
		em.page
			font-style: normal
			font-size: 50px
			color: #FFF
			
h2
	background: #000 url('../images/subheader.png') no-repeat left top
	height: 80px
	color: #FFF
	margin: 0
	padding: 0 0 0 50px
	line-height: @height
	font-size: 300%
	font-family: Gotham Bold	
	clear: both
p
	display: block
	font-size: 200%
	margin: 30px
	color: $font-color

form.ballot		
	ul
		list-style: none
		margin: 0
		padding: 0		
		
		li
			margin: 0
			padding: 0
			
		li.candidate
			float: left
			margin: 30px
			color: #FFF
			
			&.selected
				
				label
					background: #542793
				
					em
						display: block
						
			input
				display: none
			
			label
				width: 210px
				height: 141px
				position: relative
				background: #808080
				
				em
					display: none
					width: 32px
					height: 32px
					background: #808080 url('../images/check.gif')
					position: absolute
					top: 0px
					left: 0px
				
				strong
					position: absolute
					left: 110px
					top: 50%
					margin-top: -1.5em
					float: left
					display: block
					width: 100px
					font-size: 180%
					line-height: 1em
				
				img
					position: absolute
					left: 2px
					top: 2px
					width: 100px
					
			&.noconfidence
				label
					strong
						left: 5px
						width: 200px
						text-align: center
						font-size: 240%
			
li.clear
	clear: both

h2#vote
	input#submit, a
		font-size: 100%
		background: #542793
		border: 2px solid #FFF
		padding: 5px
		height: 1.5em
		color: #FFF
		margin-right: 30px
		
#admin
	input
		margin: 30px
		font-size: 200%
		width: 300px
		height: 1.5em
		line-height: 1.5em
		padding: 10px
		
#results
	&, ul, li
		list-style: none
	li.race
		canvas
			margin-left: 40px
			float: right
		ul
			float: left
			
			li.candidate
				clear: both
				float: left
				line-height: 2em

				strong
					float: left
				em.swatch
					float: left
					display: block
					width: 2em
					height: 2em
					border: 1px solid white