@font-face {
  font-family: "Gotham Black";
  src: url("../fonts/Gotham-Black.odf") format("opentype");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.odf") format("opentype");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.odf") format("opentype");
}
body {
  font: 14px Gotham Book, serif;
  background: #fff;
}
#header {
  height: 150px;
  background: #000;
}
#header span {
  height: 150px;
  display: block;
  float: left;
}
#header .left,
#header .right {
  background: url("../images/header-repeat.png") repeat-x top right;
  width: 300px;
}
#header .right {
  background-position: top left;
}
#header .center {
  width: 600px;
  background: url("../images/header-left.png") no-repeat top left;
}
#header h1 {
  background: url("../images/header-right.png") no-repeat top right;
  height: 150px;
  margin: 0;
  padding: 0 100px;
  font-size: 100%;
  text-transform: uppercase;
  font-family: Gotham Black;
}
#header h1 strong.student,
#header h1 strong.government,
#header h1 em.page {
  display: block;
  line-height: 1em;
  text-align: center;
}
#header h1 strong.student {
  font-size: 63px;
  color: #fbcf0c;
}
#header h1 strong.government {
  font-size: 40px;
  color: #fbcf0c;
}
#header h1 em.page {
  font-style: normal;
  font-size: 50px;
  color: #fff;
}
h2 {
  background: #000 url("../images/subheader.png") no-repeat left top;
  height: 80px;
  color: #fff;
  margin: 0;
  padding: 0 0 0 50px;
  line-height: 80px;
  font-size: 300%;
  font-family: Gotham Bold;
}
p {
  display: block;
  font-size: 200%;
  margin: 30px;
  color: #222;
}
form.ballot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form.ballot ul li {
  margin: 0;
  padding: 0;
}
form.ballot ul li.candidate {
  float: left;
  margin: 30px;
  color: #fff;
}
form.ballot ul li.candidate.selected label {
  background: #542793;
}
form.ballot ul li.candidate.selected label em {
  display: block;
}
form.ballot ul li.candidate input {
  display: none;
}
form.ballot ul li.candidate label {
  width: 210px;
  height: 137px;
  position: relative;
  background: #808080;
}
form.ballot ul li.candidate label em {
  display: none;
  width: 32px;
  height: 32px;
  background: #808080 url("../images/check.gif");
  position: absolute;
  top: 0px;
  left: 0px;
}
form.ballot ul li.candidate label strong {
  position: absolute;
  left: 110px;
  top: 50%;
  margin-top: -1.5em;
  float: left;
  display: block;
  width: 100px;
  font-size: 120%;
}
form.ballot ul li.candidate label img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
}
form.ballot ul li.clear {
  clear: both;
}
form.ballot input#submit {
  font-size: 100%;
  background: #542793;
  border: 2px solid #fff;
  padding: 5px;
  color: #fff;
  height: 1em;
}
#admin input {
  margin: 30px;
  font-size: 200%;
  width: 300px;
  height: 1.5em;
  line-height: 1.5em;
  padding: 10px;
}
